<!DOCTYPE html>
<html>
    <body>
        <h1>Lambda routes</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>API Endpoint</th>
            </tr>
            {% for link in data %}
            <tr>
                <td style="text-align:left">{{link}}</td>
                <td style="padding-left:40px; text-align:left"><a href="lambda/{{link}}"> http://{{url}}/lambda/{{link}} </a></td>
            </tr>       
        {% endfor %}
    </table>
    </body>
</html>